@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Courgette:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(255, 255, 255);
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
}

/* Heading */
nav ul {
    flex: 1;
    text-align: right;
    padding-right: 30px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 50%;
}


/* Heading */
#showcase {
    min-height: 450px;
    color: #fff;
    padding-top: 138px;
}

#showcase {
    position: relative;
    /* background-color: rgb(185, 136, 136); */
    /* background-color: rgb(170, 219, 209); */
    background-color: rgb(255, 255, 255);
    /* background-image: linear-gradient(to bottom, rgba(121, 121, 121, 0.3), rgb(149, 201, 209)), 
    url(https://t3.ftcdn.net/jpg/02/12/57/18/240_F_212571803_k6vdJMDazp9b61fiFXIamA4g1fjTTUY4.jpg); showcase shadow on bottom */ 
    background-image: linear-gradient(135deg,#4c91b9,#80ceca), 
    url(https://t3.ftcdn.net/jpg/02/12/57/18/240_F_212571803_k6vdJMDazp9b61fiFXIamA4g1fjTTUY4.jpg); /* cool blue background */
    /* background-image: linear-gradient(rgba(0,0,0,0.3),transparent), url(https://t3.ftcdn.net/jpg/02/12/57/18/240_F_212571803_k6vdJMDazp9b61fiFXIamA4g1fjTTUY4.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    padding: 0 8%;
    width: 100%;
    height: 100vh;
    min-height: 450px;  
}



#showcase .content-wrap {
    color: #fff;
    position: absolute;
    bottom: 25%;
}

#showcase h1 {
    font-weight: 10;
    font-size: 150px;
    line-height: 160px;
    margin-left: -10px;
    text-align: left;
    /* font-family: 'Cookie', cursive; */
}

#showcase p {
    font-size: 50px;
    font-weight: 600;
    text-align: left;
    font-family: 'Lora', serif;
}

#showcase .logo {
    position: absolute;
    width: 350px;
    left: 60rem;
    top: 15rem;
}

.styling-title {
    font-weight: 10;
    font-size: 3.3rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

/* What I Do */
#what-i-do {
    padding-bottom: 3.5em;
}

.content-title {
    margin: 5px 0 20px 0;
    font-size: 2.9rem;
    font-family: 'Lora', serif;
}



#what-i-do .box {
    padding: 1em 2em 2em 2em;
    color: rgb(0, 0, 0);
}

.box-background {
    padding: 20px 20px 30px 20px !important;
    margin: 38px 90px 20px 0;
    background-color: rgba(219,207,238,0.18);
    border-radius: 15px;
}

#what-i-do p {
    padding: 0 27px;
}

.list-header {
    text-align: center;
    padding: 8px 27px;
}

.box ul li {
    list-style: none;
    list-style-type: square;
    text-align: left;
    margin-left: 3rem;
}

/* parallax */
.parallax {
    background: url(https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F38%2F2015%2F06%2F12223208%2Fshutterstock_88040917.jpg&q=85)
        no-repeat fixed 100%;
    opacity: .9;
}

.inner-parallax {
    padding: 20% 0;
    margin: 0 0 50rem 0;
}

.inner-parallax .quote {
    font-weight: bolder;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 70px;
}

.quote-bar1 {
    margin: 0 26.2rem;
    padding: .2rem 0;
    background-color:rgb(219, 86, 24);
}

.quote {
    color:#ffffff;
}

.quote-bar2 {
    margin: 0 26.2rem;
    padding: .2rem 0;
    background-color:rgb(236, 137, 8);
}

@media (max-width: 600px) {

    #navbar-image {
        top: 14px;
        left: 55px;
        width: 35px;
    }
    nav ul li a {
        padding: 10px 16px;
        font-size: 13px;
        line-height: 60px;
    }

    .content-wrap a i {
        margin-top: 8rem !important;
    }
}


@media (min-width: 700px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    #about .content-text {
      columns: 2;
      column-gap: 2em;
    }

    #about .content-text p {
      padding-top: 0;
    }

    .content-wrap {
      grid-column: 2/4;
    }

    .box,
    #contact div {
      grid-column: span 2;
    }
}
