@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Courgette:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #f4f4f4;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

a {
    text-decoration: none;
}

/* nav {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
}

/* Heading */
.image-logo {
    position: absolute;
    width: 40px;
    left: 60px;
    top: 15px;
    border-radius: 50%;
}

.text-logo {
    font-weight: 900;
    font-size: 0.8rem;
    color: var(--text);
    text-decoration: none;
}
  
header {
    --text: #f4f4f4;
    --text-inverse: #333;
    --background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px 10px 110px;
    transition: background 250ms ease-in;
    background: var(--background);
    color: var(--text);
}
  
.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    float: left;
    padding-right: 30px;
}

.nav__list-item {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
  
.nav__link {
    --spacing: 1em;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
}
  
.nav__link:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: 1px;
    left: 24%;
    height: 2px;
    background: currentColor;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}
  
.nav__link:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    width: 50%;
}
  
.nav-scrolled {
    --text: #333;
    --text-inverse: #f4f4f4;
    --background: #ffffff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}



/* Heading */
#showcase {
    min-height: 450px;
    color: #fff;
    padding-top: 138px;
}

#showcase {
    position: relative;
    display: flex;
    color:rgb(0, 0, 0);
    /* background-color: rgb(185, 136, 136); */
    background-color: rgb(57, 153, 134);
    background-image: linear-gradient(135deg,#4c91b9,#80ceca); /* cool blue background */
    /* background-image: linear-gradient(rgba(0,0,0,0.3),transparent), url(https://t3.ftcdn.net/jpg/02/12/57/18/240_F_212571803_k6vdJMDazp9b61fiFXIamA4g1fjTTUY4.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    padding: 0 8%;
    width: 100%;
    height: 100vh;
    min-height: 450px;
}

#showcase .content-wrap {
    color: #fff;
    position: absolute;
    bottom: 25%;
}

#showcase h1 {
    font-weight: 10;
    font-size: 150px;
    line-height: 140px;
    margin-left: -10px;
    text-align: left;
}

#showcase h3 {
    margin-top: 10px;
    font-weight: 10;
    font-size: 50px;
    margin-left: -10px;
    text-align: left;
    color: rgb(255, 255, 255);
}

#showcase p {
    font-size: 50px;
    font-weight: 600;
    text-align: left;
    font-family: 'Lora', serif;
}

#showcase .logo {
    position: absolute;
    width: 350px;
    left: 60rem;
    top: 11rem;
    border-radius: 30% 30% 30% 30%;
    transition: all 0.25s;
}

#showcase .logo:hover {
    transform: scale(1.1);
    border-radius: 20%;
}

.styling-title {
    font-weight: 10;
    font-size: 3rem;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 30px;
}

/* Iphone X, 11, 12, 13 viewport */
/* Iphone viewport is 390px */
@media (max-width: 400px) {
    .image-logo {
        width: 30px;
        left: 18px;
        top: 23px;
    }
    
    .text-logo {
        font-size: 0.8rem;
    }

    header {
        padding: 1px 20px 1px 55px;
    }

    .nav__list-item {
        margin: 10px 12px;
    }

    .nav__link {
        margin-top: 10px;
        font-size: 0.7rem;
    }

    #showcase .logo {
        width: 150px;
        left: 7.5rem;
        top: 7rem;
    }

    #showcase h1 {
        font-size: 70px;
        line-height: 60px;
        text-align: center;
    }
    
    #showcase h3 {
        margin: 20px 0;
        font-weight: 10;
        font-size: 30px;
        margin-left: 2px;
        text-align: center;
        color: rgb(255, 255, 255);
    }
    
    #showcase p {
        font-size: 50px;
        font-weight: 600;
        text-align: center;
        font-family: 'Lora', serif;
    }
    
    .add-parallax {
        background-image: url(images/baby-photo.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 200px 0;
        margin-bottom: 40px;
    }

    .inner-parallax {
        margin: 0 0 -20.5rem 0 !important;
    }

    .inner-parallax .quote {
        font-size: 70px !important;
        margin-top: -10px !important;
        color: rgb(59, 59, 59);
    }
    
    /* What I do section */
    .box-background {
        padding: 20px 20px 30px 20px !important;
        margin: 38px 60px 20px 60px !important;
        background-color: rgba(219,207,238,0.18);
        border-radius: 15px;
    }

    .contact-bg {
        display: flex;
        justify-content: center;
    }

    .parallax {
        display: none;
    }
}

/* Iphone 8 */
@media (min-width: 300px) and (max-width: 349px) {
    .image-logo {
        width: 10px;
        left: 18px;
        top: 10px;
    }
}


/* Samung a50 viewport 412px | TESTING */
@media (min-width: 401px) and (max-width: 600px) {
    .image-logo {
        width: 30px;
        left: 18px;
        top: 10px;
    }

    header {
        padding: 1px 2px 1px 55px;
    }

    .text-logo {
        font-size: 0.5rem;
        margin-right: 30px;
    }

    /* Testing for samsung A50 */
    #showcase .logo {
        width: 150px;
        left: 8rem;
        top: 5rem;
    }

    #showcase h1 {
        margin-right: 3px;
        font-size: 70px;
        line-height: 70px;
        text-align: center;
    }
    
    #showcase h3 {
        margin: 10px 0;
        font-weight: 10;
        font-size: 23px;
        color: rgb(255, 255, 255);
        /* margin-right: 3px;
        margin: 16px 0;
        font-weight: 10;
        font-size: 25px;
        margin-left: 2px;
        text-align: center;
        color: rgb(255, 255, 255); */
    }

    
    #showcase p {
        margin-right: 6px;
        font-size: 50px;
        font-weight: 600;
        text-align: center;
        font-family: 'Lora', serif;
    }

    /*  */

    .nav__list-item {
        margin: 10px 12px;
    }

    .nav__link {
        margin-top: 10px;
        font-size: 0.5rem;
    }

    .add-parallax {
        background-image: url(images/baby-photo.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 200px 0;
        margin-bottom: 40px;
    }

    .inner-parallax .quote {
        font-size: 70px !important;
        margin-top: -10px !important;
        color: rgb(59, 59, 59);
    }

    .contact-bg {
        display: flex;
        justify-content: center;
    }
}


@media (min-width: 600px) and (max-width: 800px) {
    .text-logo {
        font-size: 0.5rem;
        margin-right: 30px;
    }

    /* Testing for samsung A50 */
    #showcase .logo {
        width: 150px;
        left: 8rem;
        top: 6rem;
    }

    #showcase h1 {
        font-size: 70px;
        line-height: 60px;
        text-align: center;
    }
    
    #showcase h3 {
        margin: 20px 0;
        font-weight: 10;
        font-size: 30px;
        margin-left: 2px;
        text-align: center;
        color: rgb(255, 255, 255);
    }
    
    #showcase p {
        font-size: 50px;
        font-weight: 600;
        text-align: center;
        font-family: 'Lora', serif;
    }

    .contact-bg {
        display: flex;
        justify-content: center;
    }
}


/* Samsung s21 ultra viewport */
/* Samung a50 viewport 412px */
/* Samung s10 viewport 360px */
@media (min-width: 350px) and (max-width: 380px) {
    .image-logo {
        width: 30px;
        top: 18px;
    }

    header {
        padding: 1px 2px 1px 55px;
    }

    .text-logo {
        font-size: 0.5rem;
        margin-right: 30px;
    }

    .nav__list-item {
        margin: 10px 12px;
    }

    .nav__link {
        margin-top: 10px;
        font-size: 0.5rem;
    }

    #showcase .logo {
        width: 140px;
        left: 7rem;
        top: 5.5rem;
    }

    #showcase .textwidget {
        margin-bottom: 100px !important;
        text-align: center;
    }

    #showcase h1 {
        margin-left: 1px;
        text-align: center;
        margin: 0 0 10px 0;
    }
    
    #showcase h3 {
        margin: 10px 0;
        font-weight: 10;
        font-size: 23px;
        color: rgb(255, 255, 255);
    }
    
    #showcase p {
        margin-right: 5px;
        font-size: 50px;
        font-weight: 600;
        font-family: 'Lora', serif;
    }

    .content-title {
        font-size: 2.6rem !important;
    }

    .add-parallax {
        background-image: url(images/baby-photo.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 200px 0;
        margin-bottom: 40px;
    }

    .inner-parallax .quote {
        font-size: 70px !important;
        margin-top: -10px !important;
        color: rgb(59, 59, 59);
    }

    .contact-bg {
        display: flex;
        justify-content: center;
    }

    .parallax {
        display: none;
    }
}

/* What I Do */
#what-i-do {
    padding-bottom: 3.5em;
}

.content-title {
    margin: 5px 0 20px 0;
    font-size: 2.9rem;
    font-family: 'Lora', serif;
}

#what-i-do .box {
    padding: 1em 2em 2em 2em;
    color: rgb(0, 0, 0);
}

.box-background {
    padding: 20px 20px 30px 20px !important;
    margin: 38px 90px 20px 0;
    background-color: rgba(219,207,238,0.18);
    border-radius: 15px;
}

#what-i-do p {
    padding: 0 27px;
}

.list-header {
    text-align: center;
    padding: 8px 27px;
}

.box ul li {
    list-style: none;
    list-style-type: square;
    text-align: left;
    margin-left: 3rem;
}

/* parallax */
.parallax {
    background: url(images/baby-photo.jpeg)
        no-repeat fixed 100%;
    opacity: .9;
}

.inner-parallax {
    padding: 8% 0;
    margin: 0 0 4.5rem 0;
}

.inner-parallax .quote {
    font-weight: bolder;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 70px;
}

.quote-bar1 {
    margin: 0 26.2rem;
    padding: .2rem 0;
    background-color: rgb(64, 147, 160);
}

.quote {
    color:#ffffff;
}

.quote-bar2 {
    margin: 0 26.2rem;
    padding: .2rem 0;
    background-color:rgb(60, 147, 160);
}

/* Contact */
.contact-bg {
    padding-bottom: 30px;
    background: #1a1c20 none repeat center top;
}

.contact {
    margin: 0 380px;
}

.contact-title {
    font-size: 40px;
    padding-top: 30px;
    color: rgb(238, 238, 238);
}

.contact .textwidget p {
    margin-bottom: 8px;
    color: rgb(139, 141, 148);
}

.contact .textwidget .phone-number {
    color: rgb(238, 238, 238);
}   

.contact .textwidget .phone-number:hover {
    color: rgb(71, 163, 148);
}

.location {
    margin-right: 5px;
}

.facebook, .email,
.phone{
    color: #666666;
}

.facebook-button, .email-button,
.phone-button {
    display:block;
    height: 40px;
    width: 40px;
    padding: 8px 10px 10px 10px;
    border-radius: 50%;
    margin: 8px;
    background-color: rgb(255, 255, 255);
}

.facebook-button:hover, .email-button:hover,
.phone-button:hover {
    color: #f7f7f7;
    background-color: #4c91b9;
}

.contact .social-media{
    display: flex;
    justify-content: center;
}

.copyright {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    margin-top: 10px;
}

/* Tablet viewport */
@media (min-width: 800px) and (max-width: 1350px) and (orientation: portrait) {
    .image-logo {
        width: 40px;
        left: 45px;
        top: 23px;
    }
    
    .text-logo {
        font-size: 1.5rem;
    }

    header {
        padding: 1px 20px 1px 100px;
    }

    .nav__list-item {
        margin: 10px 12px;
    }

    .nav__link {
        margin-top: 10px;
        font-size: 1.4rem;
    }

    #showcase .logo {
        width: 450px;
        left: 7.7rem;
        top: 10rem;
    }

    .add-parallax {
        background-image: url(images/baby-photo.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 200px 0;
        margin-bottom: 40px;
    }

    .inner-parallax {
        margin: 0 0 -22.5rem 0 !important;
    }

    .inner-parallax .quote {
        font-size: 70px !important;
        margin-top: -10px !important;
        color: rgb(59, 59, 59);
    }

    .inner-parallax .quote {
        font-size: 70px !important;
        margin-top: -10px !important;
        color: rgb(59, 59, 59);
    }

    .box-background {
        padding: 20px 20px 30px 20px !important;
        margin: 38px 60px 20px 60px !important;
    }

    .contact-bg {
        display: flex;
        justify-content: center;
    }
}

/* Tablet Viewport */
@media (min-width: 800px) and (max-width: 1350px) and (orientation: landscape) {
    .image-logo {
        width: 40px;
        left: 55px;
        top: 16px;
    }

    #showcase .logo {
        width: 450px;
        left: 50.7rem;
        top: 13.5rem;
        padding-right: 40px;
    }

    .add-parallax {
        background-image: url(images/baby-photo.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 200px 0;
        margin-bottom: 40px;
    }

    .inner-parallax {
        margin: 0 0 -25.5rem 0 !important;
    }

    .inner-parallax .quote {
        font-size: 70px !important;
        margin-top: -10px !important;
        color: rgb(59, 59, 59);
    }

    .inner-parallax .quote {
        font-size: 70px !important;
        margin-top: -10px !important;
        color: rgb(59, 59, 59);
    }
    
    .box-background {
        padding: 20px 20px 30px 20px !important;
        margin: 38px 60px 20px 60px !important;
    }

    .contact-bg {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1360px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    #about .content-text {
      columns: 2;
      column-gap: 2em;
    }

    #about .content-text p {
      padding-top: 0;
    }

    .box {
      grid-column: span 2;
    }

    .contact-bg {
        display: flex;
        justify-content: center;
    }
}
